*{
    margin: 0;
    padding: 0;
}


.header{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: ;
}

.playArea{
    background-color: aquamarine;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard>div{
    display: flex;
    justify-content: center;
}

button{
    border: 2px solid black;
    height: 150px;
    width: 150px;
    font-size: 100px;
}

#displayWinner{
    text-align: center;
    font-size: 50px;
}